Задание:
Используя данные из train.csv, построить
модель для предсказания цен на недвижимость (квартиры).
С помощью полученной модели предсказать
цены для квартир из файла test.csv.

Целевая переменная:
Price

Метрика:
R2 - коэффициент детерминации (sklearn.metrics.r2_score)

Сдача проекта:
1. Прислать в раздел Задания Урока 10 ("Вебинар. Консультация по итоговому проекту")
ссылку на программу в github (программа должна содержаться в файле Jupyter Notebook 
с расширением ipynb). (Pull request не нужен, только ссылка ведущая на сам скрипт).
2. Приложить файл с названием по образцу SShirkin_predictions.csv
с предсказанными ценами для квартир из test.csv (файл должен содержать два поля: Id, Price).
В файле с предсказаниями должна быть 5001 строка (шапка + 5000 предсказаний).

Сроки и условия сдачи:
Дедлайн: сдать проект нужно в течение 72 часов после начала Урока 10 ("Вебинар. Консультация по итоговому проекту").
Для успешной сдачи должны быть все предсказания (для 5000 квартир) и R2 должен быть больше 0.6.
При сдаче до дедлайна результат проекта может попасть в топ лучших результатов.
Повторная сдача и проверка результатов возможны только при условии предыдущей неуспешной сдачи.
Успешный проект нельзя пересдать в целях повышения результата.

In [39]:
import warnings

warnings.filterwarnings('ignore')

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
from scipy.stats import norm, normaltest
#from sklearn.model_selection import train_test_split
from sklearn import set_config

In [41]:
df_base = pd.read_csv('/home/mikhail/Рабочий стол/Geek_Script_2605/Kurs_project_task/train.csv')
#df_tar = pd.read_csv('/home/mikhail/Рабочий стол/Geek_Script_2605/Kurs_project_task/train.csv')
# df = pd.read_csv('/home/mikhail/Рабочий стол/Geek_Script_2605/Geek_Home_DC/creditcard.csv')

In [42]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

Причесываем df_base

In [43]:
df_base.loc[df_base['LifeSquare'].isnull(), 'LifeSquare2'] = df_base['Square']

In [44]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
LifeSquare2      2113 non-null float64
dtypes: float64(9), int64(9), object(3)
memory usage: 1.6+ MB

In [45]:
df_base = df_base.loc[:, list(df_base.columns[:5]) + ['LifeSquare2'] + list(df_base.columns[5:-1])]

In [46]:
df_base.loc[df_base['LifeSquare'].isnull(), 'LifeSquare'] = df_base['Square'] - 3

In [47]:
df_base['Healthcare_1'] = df_base['Healthcare_1'].fillna(-999)

In [48]:
df_base = df_base.drop('LifeSquare2', axis=1)

In [49]:
df_base.drop('Healthcare_1', axis=1, inplace=True)

In [50]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [51]:
df_base = pd.get_dummies(df_base)

In [52]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Price            10000 non-null float64
Ecology_2_A      10000 non-null uint8
Ecology_2_B      10000 non-null uint8
Ecology_3_A      10000 non-null uint8
Ecology_3_B      10000 non-null uint8
Shops_2_A        10000 non-null uint8
Shops_2_B        10000 non-null uint8
dtypes: float64(7), int64(9), uint8(6)
memory usage: 1.3 MB

In [71]:
df_base.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_3,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
Id,1.000000,0.012973,-0.005847,-0.010071,0.012864,0.019880,0.001348,-0.008376,0.005004,0.018097,...,-0.009358,0.001502,-0.008718,0.009880,-0.003099,0.003099,0.005408,-0.005408,-0.003645,0.003645
DistrictId,0.012973,1.000000,0.071432,-0.026613,-0.043978,0.040358,-0.120373,-0.149051,0.013430,0.065294,...,0.136095,0.306147,0.174214,0.265100,0.093406,-0.093406,0.027902,-0.027902,0.021018,-0.021018
Rooms,-0.005847,0.071432,1.000000,0.662893,0.149181,0.005123,-0.000665,-0.029302,-0.010612,-0.032347,...,0.012811,0.063557,0.053618,0.550291,0.001971,-0.001971,0.005909,-0.005909,0.000146,-0.000146
Square,-0.010071,-0.026613,0.662893,1.000000,0.244232,0.008320,0.114791,0.081505,-0.009032,-0.064479,...,0.035241,-0.022960,0.021357,0.520075,-0.029926,0.029926,-0.022748,0.022748,0.049380,-0.049380
LifeSquare,0.012864,-0.043978,0.149181,0.244232,1.000000,-0.010519,0.035819,0.020830,-0.002726,-0.030678,...,0.013186,-0.046321,-0.018892,0.080774,-0.011100,0.011100,-0.017649,0.017649,0.018417,-0.018417
KitchenSquare,0.019880,0.040358,0.005123,0.008320,-0.010519,1.000000,-0.011397,0.000780,0.000958,-0.005622,...,-0.015140,0.043170,0.010216,0.028864,-0.000268,0.000268,0.007919,-0.007919,0.017315,-0.017315
Floor,0.001348,-0.120373,-0.000665,0.114791,0.035819,-0.011397,1.000000,0.418986,0.000928,-0.016133,...,-0.002237,-0.065537,0.024264,0.128715,-0.049661,0.049661,-0.025767,0.025767,0.013626,-0.013626
HouseFloor,-0.008376,-0.149051,-0.029302,0.081505,0.020830,0.000780,0.418986,1.000000,-0.000864,-0.004362,...,-0.008137,-0.068728,0.026279,0.088280,-0.059347,0.059347,-0.009258,0.009258,-0.051002,0.051002
HouseYear,0.005004,0.013430,-0.010612,-0.009032,-0.002726,0.000958,0.000928,-0.000864,1.000000,0.001465,...,0.000819,0.011245,0.003681,0.004305,-0.000997,0.000997,-0.001686,0.001686,-0.002994,0.002994
Ecology_1,0.018097,0.065294,-0.032347,-0.064479,-0.030678,-0.005622,-0.016133,-0.004362,0.001465,1.000000,...,-0.124068,0.030873,-0.076749,-0.058381,0.110725,-0.110725,0.223197,-0.223197,-0.079809,0.079809
Social_1,-0.000772,0.246463,0.075980,-0.070690,-0.081438,0.043379,-0.044914,-0.020801,0.003026,0.026464,...,0.023721,0.524593,0.526272,0.263286,0.066017,-0.066017,0.037777,-0.037777,-0.144644,0.144644
Social_2,-0.002033,0.167479,0.071335,-0.043120,-0.069095,0.037805,-0.016560,0.007194,0.001970,0.009264,...,0.073379,0.473193,0.559163,0.239226,0.012709,-0.012709,-0.007394,0.007394,-0.143777,0.143777
Social_3,-0.009358,0.136095,0.012811,0.035241,0.013186,-0.015140,-0.002237,-0.008137,0.000819,-0.124068,...,1.000000,0.286434,0.662113,0.074878,-0.008512,0.008512,-0.014595,0.014595,-0.082810,0.082810
Helthcare_2,0.001502,0.306147,0.063557,-0.022960,-0.046321,0.043170,-0.065537,-0.068728,0.011245,0.030873,...,0.286434,1.000000,0.474085,0.253090,0.082667,-0.082667,0.133120,-0.133120,-0.123529,0.123529
Shops_1,-0.008718,0.174214,0.053618,0.021357,-0.018892,0.010216,0.024264,0.026279,0.003681,-0.076749,...,0.662113,0.474085,1.000000,0.180876,-0.051892,0.051892,-0.001859,0.001859,-0.139065,0.139065
Price,0.009880,0.265100,0.550291,0.520075,0.080774,0.028864,0.128715,0.088280,0.004305,-0.058381,...,0.074878,0.253090,0.180876,1.000000,-0.022379,0.022379,0.052585,-0.052585,-0.070388,0.070388
Ecology_2_A,-0.003099,0.093406,0.001971,-0.029926,-0.011100,-0.000268,-0.049661,-0.059347,-0.000997,0.110725,...,-0.008512,0.082667,-0.051892,-0.022379,1.000000,-1.000000,-0.016643,0.016643,0.022242,-0.022242
Ecology_2_B,0.003099,-0.093406,-0.001971,0.029926,0.011100,0.000268,0.049661,0.059347,0.000997,-0.110725,...,0.008512,-0.082667,0.051892,0.022379,-1.000000,1.000000,0.016643,-0.016643,-0.022242,0.022242
Ecology_3_A,0.005408,0.027902,0.005909,-0.022748,-0.017649,0.007919,-0.025767,-0.009258,-0.001686,0.223197,...,-0.014595,0.133120,-0.001859,0.052585,-0.016643,0.016643,1.000000,-1.000000,-0.050425,0.050425
Ecology_3_B,-0.005408,-0.027902,-0.005909,0.022748,0.017649,-0.007919,0.025767,0.009258,0.001686,-0.223197,...,0.014595,-0.133120,0.001859,-0.052585,0.016643,-0.016643,-1.000000,1.000000,0.050425,-0.050425
Shops_2_A,-0.003645,0.021018,0.000146,0.049380,0.018417,0.017315,0.013626,-0.051002,-0.002994,-0.079809,...,-0.082810,-0.123529,-0.139065,-0.070388,0.022242,-0.022242,-0.050425,0.050425,1.000000,-1.000000
Shops_2_B,0.003645,-0.021018,-0.000146,-0.049380,-0.018417,-0.017315,-0.013626,0.051002,0.002994,0.079809,...,0.082810,0.123529,0.139065,0.070388,-0.022242,0.022242,0.050425,-0.050425,-1.000000,1.000000

In [53]:
df_base['Price'].describe()

count     10000.000000
mean     214138.857399
std       92872.293865
min       59174.778028
25%      153872.633942
50%      192269.644879
75%      249135.462171
max      633233.466570
Name: Price, dtype: float64

In [54]:
target = df_base['Price']

                       Ощущение, что "Х" у меня с неполными параметрами:

In [55]:
X = pd.DataFrame(df_base)

X.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_3,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,...,5,0,11,184966.930730,0,1,0,1,0,1
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,...,1,1,16,300009.450063,0,1,0,1,0,1
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,...,0,1,3,220925.908524,0,1,0,1,0,1
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,...,3,0,5,175616.227217,0,1,0,1,0,1
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,...,1,2,4,150226.531644,0,1,0,1,0,1

In [69]:
X = pd.DataFrame(df_base)

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Price            10000 non-null float64
Ecology_2_A      10000 non-null uint8
Ecology_2_B      10000 non-null uint8
Ecology_3_A      10000 non-null uint8
Ecology_3_B      10000 non-null uint8
Shops_2_A        10000 non-null uint8
Shops_2_B        10000 non-null uint8
dtypes: float64(7), int64(9), uint8(6)
memory usage: 1.3 MB

In [57]:
y = pd.DataFrame(target, columns=['Price'])

y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
Price    10000 non-null float64
dtypes: float64(1)
memory usage: 78.2 KB

                                         Делаем тренировочную модель

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
lr = LinearRegression()

In [62]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [63]:
y_pred = lr.predict(X_test)

y_pred.shape

(2500, 1)

In [66]:
check_test = pd.DataFrame({
    "y_test": y_test['Price'],
    "y_pred": y_pred.flatten(),
})

check_test.head(50)

             y_test         y_pred
3695  179294.237176  179294.237176
9368  343643.748717  343643.748717
8675  204259.631582  204259.631582
8819   77566.751621   77566.751621
2863  109315.261198  109315.261198
3150  202906.219573  202906.219573
5652  259654.497067  259654.497067
700   120724.056008  120724.056008
8617  217361.700539  217361.700539
9028  107458.639657  107458.639657
6450  277487.620254  277487.620254
56    279119.913422  279119.913422
9120  111069.979170  111069.979170
409   175973.694767  175973.694767
2846  145247.013605  145247.013605
6775   91263.353944   91263.353944
5608  125700.978612  125700.978612
7725  274959.672513  274959.672513
3068  136395.974286  136395.974286
5999  177438.552857  177438.552857
801   175765.296671  175765.296671
9275  160728.372108  160728.372108
8505  540638.323555  540638.323555
6573  312935.578784  312935.578784
4224  310139.659847  310139.659847
8855  194036.364634  194036.364634
7946  135431.893582  135431.893582
5637  120714.895770  120714.895770
5536  206271.277811  206271.277811
4426  259369.044635  259369.044635
3253  189477.390338  189477.390338
5910  168581.529424  168581.529424
7835  254692.419760  254692.419760
3644   93428.265205   93428.265205
5513  233496.085791  233496.085791
9675  381301.234573  381301.234573
6184  346494.283586  346494.283586
741   268393.878152  268393.878152
6300   71123.606279   71123.606279
1861  124902.555787  124902.555787
3593  150197.012965  150197.012965
6564  142744.367540  142744.367540
6269  385774.002223  385774.002223
8852   91594.315538   91594.315538
5734  150136.610509  150136.610509
9820   74987.352760   74987.352760
6493  110407.140334  110407.140334
2436  201524.568518  201524.568518
7964  362271.046561  362271.046561
1130  323267.743051  323267.743051

In [70]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

             y_test         y_pred         error
3695  179294.237176  179294.237176 -8.731149e-11
9368  343643.748717  343643.748717  5.820766e-11
8675  204259.631582  204259.631582  0.000000e+00
8819   77566.751621   77566.751621 -1.600711e-10
2863  109315.261198  109315.261198 -1.455192e-10

                                            Смотрим среднюю квадратичную ошибку

In [79]:
mse1 = (check_test["error"] ** 2).mean()

mse1

1.2846292260471852e-20

                                              Смотрим абсолютную ошибку

In [80]:
(np.abs(check_test["error"])).mean()

9.053328540176153e-11

In [81]:
lr.intercept_

array([-2.61934474e-10])